$headerHeight: 56px;

.ReactModal__Overlay { z-index: 3; }

.ReactModal__Content {
  width: 90%;
  height: 80%;
  margin-right: auto;
  margin-left: auto;
  animation: slide-up .5s ease;
  padding: 0px !important;

  .modal-header {
    height: $headerHeight;
  }

  .modal-body {
    min-height: calc(100% - #{$headerHeight});
    overflow-y: auto;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
