$urlItemWidth: 256px;

.urlItem {
   min-width: $urlItemWidth;
}

.window {
  min-width: 286px;
}

.window-header {
  height: 56px;
  cursor: pointer;
}

.board-column-content {
  min-height: 95px;
  transition: height 0.4s;
}

.link-item {
  height: 56px;
  & > .link-move {
    cursor: move;
    width: 16px;
  }
}

.window {
  &.muuri-item-placeholder {
    opacity: 0.5;
    z-index: 2;
    margin: 0;
    border: 0.5px dashed;
  
    div {
      opacity: 0;
    }
  }
  &.muuri-item-dragging {
    opacity: 1 !important;
    z-index: 3;
    transform: rotateZ(90deg);
  }
}

.urlItem {
  &.muuri-item-dragging {
    opacity: 1 !important;
    z-index: 3;
    -webkit-transform: rotateZ(2deg);
  }
}

.urlItem.muuri-item-placeholder li {
  opacity: 0.1;
  z-index: 2;
  margin: 0;
  border: 2px dashed rgba(179, 180, 181, 0.5);
  max-width: $urlItemWidth;
  box-shadow: 0px !important;

  div {
    opacity: 0;
  }
}

.linksets-list {
  height: 256px;
  padding: 12px;
  overflow-y: auto;
}
